.pagination {
	display: flex;
	justify-content: flex-end;
	margin-right: 10%;
}

.pagination__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 2%;
	height: 32px;
	width: 5%;
	min-width: 173px;
	background-color: #2c2d3b;
	border-radius: 16px;
}

.pagination__container button, .empty__page {
	height: 100%;
	background: none;
	border: none;
	outline: none;
	box-shadow: none;
	padding: unset;
	color: #fff;
	text-align: center;
	font-weight: 600;
	width: 100%;
}


.pagination__container div {
	background-color: #2c2d3b;
	color: #fff;
	border-radius: 10%;
	text-align: center;
	font-weight: 500;
	height: 100%;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	width: 100%;
}

.pagination__container .empty__page {
	background-color: transparent;
}

@media (max-width: 700px) {
	.pagination {
		margin: 0;
		justify-content: center;
	}
	/* .pagination__container div { */
	/* 	width: 70px; */
	/* } */
	/* .pagination__container button, .empty__page { */
	/* 	width: 50px; */
	/* } */
} 
