.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5%;
	height: 128px;
	background-color: #2c2d3b;
}

.header__nav--menu--mobile, .mobile__hamburger {
	display: none;
}

.hambuger__inside {
	display: none;
}

.header__nav > img {
	width: 330px;
	object-fit: contain;
}
.header__nav--menu {
	display: flex;
	flex-basis: 100%;
	justify-content: space-around;
	align-items: center;
	height: 100%;
}


.header__buttons {
	display: block;
	background-color: transparent;
	color: #2c2d3b;
	opacity: 1;
	border: none;
	outline: none;
	font-size: 26px;
	width: 100%;
	font-weight: 400;
	padding: 10px 0;
}

.header__buttons--first {
	color: white;
}

.header__buttons--contact {
	margin: 2px;
	color: white;
}

@media (max-width: 1627px) {
	.header__buttons {
		font-size: 1.48vw;
	}
}


@media (max-width: 1315px) {
	.header__nav {
		flex-direction: column;
		padding: 1% 0;
		margin-bottom: 0;
	}
	.header__logo {
		width: 100%;
	}
	.header__buttons {
		font-size: calc(8px + 1.4vw);
	}
}

@media (max-width: 1200px) {
	.header__logo {
		width: 20vw;
	}
}
@media (max-width: 880px) {
	.header__nav {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		height: 10vw;
	}
	.header__logo {
		width: 50vw;
	}
	.header__nav--menu {
		display: none;
	}
	.mobile__hamburger, .mobile__on > .mobile__background > .mobile__hamburger {
		display: unset;
		/* width: 48px; */
		width: 10vw;
		position: absolute;
		top: 1vw;
		left: 2%;
		background-color: transparent;
		border: none;
		transition: rotate 0.3s;
	}
	.hambuger__close {
		z-index: 1011;
		rotate: 90deg;
		position: unset;
		margin-top: -10%;
		margin-left: 2%;
	}

.mobile__on > .mobile__background .hambuger__close {
	width: 12vw;
}

	.mobile__hamburger img {
		width: 100%;
	}
	.mobile__on {
		display: unset;
	}
	.mobile__on > .mobile__background {
		position: fixed;
		width: 100vw;
		height: 100vh;
		margin: 0;
		background-color: #00000055;
		top:0;
		left: 0;
		z-index: 1010;
	}
	.mobile__on > .mobile__background > div {
		height: 100%;;
		width: 100%;
		margin:0;
		background-color: #2c2d3b;
		display: flex;
		flex-direction: column;
		padding-top: 8vh;
		overflow-y: scroll;
		box-sizing: border-box;
	}

	.mobile__on > .mobile__background button {
		font-size: 6vw;
		width: 95%;
		text-align: left;
	}

	.hambuger__outside {
		display: none;
	}
	

	.header__nav > img {
		width: 70vw;
	}
}

@media (max-width: 540px) {
.mobile__on > .mobile__background .hambuger__close {
	width: 15vw;
	margin-top: -64px;
	margin-left: 2%;
}
}
